.footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px; /* Увеличиваем высоту, чтобы разместить карту */
    background-color: black;
    justify-content: space-between; /* Разделение основного контента и прав */
  }
  
  .footer-main {
    width: 100%;
    margin-top: 20px;
  }
  
  .footer-text {
    color: aqua;
    margin-top: 20px;
    margin-left: 50px;
    font-family: "Seymour One", sans-serif;
    font-style: normal;
  }
  
  .footer-map {
    width: 100%;
    height: 800px; /* Высота карты увеличена до 300px */
    border: none; /* Убираем рамку у iframe */
  }
  
  .rights {
    color: rgb(146, 156, 156);
    font-size: 15px;
    font-family: "Seymour One", sans-serif;
    font-weight: 100;
    text-align: center;
    width: 100%;
    padding-bottom: 10px; /* Дополнительный отступ снизу */
  }